.contenido{
    /* border:1px black solid; */
}
.contenido div{
    border: 1px black solid;
    /* border-right: 1px black solid; */
}
.orangered{
    background-color: orangered;
}
body{
    background-color: red;
}
*{
    margin: 0;
    padding: 0;
}
.flex-nav{
    background-color: blue;
    display: flex;
}
.flex-foot{
    background-color: green;
    display: flex;
}
.flex-nav div{
    justify-content: flex-end;
}